@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
  display: flex;
}
main > section{
  margin-top: 130px;
}
.section-tittle{
  font-size: 2.8rem;
  margin-bottom: 26px;
  font-weight: 700;
}


main{
  max-width: 1440px;
  margin: 0px auto;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
/* dark-02 */
.text-gray{
  color:#424242;
}

/* dark-03 */
.text-light-gray{

  color: #727272;
}
/* btn-primary style */
.btn-primary{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 144, 14, 1);
  border-radius: 8px;
  padding: 21px 25px;
  border: none;


}


/* Header styles */

/* Navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;

}
.brand{
  font-size: 3rem;
  font-weight: bold;
}

.nav-item{
  list-style: none;
  margin-right: 35px;
}
.nav-link{

  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
  
}
/* banner related style */
.banner-content{
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 52px;
}
.banner-tittle{
  font-weight: 700;
  font-size: 4rem;
}
.banner-description{
  font-weight: 400;
  font-size: 1rem;
}
.banner-image{
  width: 100%;
}
/* teams related styles */
.team{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-features{
  margin-left: 180px;
  max-width: 530px;
  
}

#Quick-list{
  font-weight: 500;
  color: rgba(114, 114, 114, 1);
}
#of-Our{
  font-weight: bold;
}
#Features{
  color: rgba(255, 144, 14, 1);
}
.feature-description{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 35px;
}
/* some facts related style */
.fact-card{
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  height: 240px;
  width: 240px;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgba(66, 66, 66, 1);
}
.fact-name{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(114, 114, 114, 1);
  margin-top: 10px;
}
.feature-description{
  max-width: 540px;
}
/* sponser related style */
.sponser-info{
  text-align: center;
  max-width: 540px;
  margin: 50px auto;
}
.sponsers-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsers-companies img{
  filter: grayscale(100%);
}


 /* first part responsive*/
 @media screen and (max-width: 576px) {
  .navbar , .nav-link , .team {
    flex-direction: column;
    
  }
  .team-img-container, .facts-container, .sponsers-companies{
  
    grid-template-columns: repeat(1,1fr);
  }
  
  .our-features{
    margin-left: 15px;
  }
  .facts-container, .sponsers-companies{
    justify-items: center;
    gap: 25px;
  }
  
 }
 /* responsive for medium device */
 @media screen and (min-width :576px) and (max-width :992px) {

  .team{
    flex-direction: column;
  
  }
  .sponsers-companies, .facts-container{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 25px;
  }
  
  
  .our-features{
    margin: 50px auto;
  }

  
 }